# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries (if you ever build)
dist/
build/
*.exe
*.dll
*.so

# Environment files (if you want to keep them secret)
.env

# Python packaging
*.egg-info/

